body {
  margin: 0;
  padding: 0;
}

.app {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.toolbar {
  background-color: gray;
  height: 60px;
}

.panels {
  width: 100%;
  height: calc(100% - 60px);

  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.panels > div {
  max-width: 45%;
  border: 0;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}

.panels > .panel {
  flex-basis: 60%;
}

.panels > .separator {
  flex-basis: 50px;
  background-color: gray;
}

.panel {
  overflow: hidden;
}

.lexer-row {
}

.lexer-row > div {
  display: flex;
}

.lexer-line-no {
  padding: 3px;
  text-align: right;
  flex:  0 0 auto;
  width: 25px;
  font-size: 12px;
  background-color: #eee;
}

.lexer-token {
  display: flex;
  overflow: hidden;
  margin: 0;
}

.lexer-token > div {
  margin-right: 3px;
  margin-bottom: 2px;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}

.lexer-token > div:hover {
  background-color: gray;
}

.lexer-token-keyword {
  color: blue;
  font-weight: bold;
}

.lexer-token-separator {
  font-weight: bold;
  color: gray;
  border: none;
}

.lexer-token-op {
  color: #ee8c00;
  font-weight: bold;
}

.lexer-token-const {
  border: 1px solid black;
}

.lexer-token-ident {
  border: 1px solid black;
}

.parser {
  overflow: scroll;
}
